services:
  rabbitmq-broker:
    image: rabbitmq:4-management@sha256:5491c10d5e1f6542a34680215d05e63928a2e3dd39dc9448c6def2d966d613e7
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: admin
    ports:
      - "5672:5672"   # the port RabbitMQ will listen on
      - "15672:15672" # the port the dashboard web service will be available from

  postgres-db:
    image: postgres:18.1@sha256:28bda6d50590658221007b10573830c941b483e9d1a5bc2713a3f60477df8389
    container_name: postgres-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "postgres", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s
    volumes:
      - ./storage/src/main/resources/ddl-scripts/create-tables.sql:/docker-entrypoint-initdb.d/create-tables.sql
